@charset "UTF-8";
/* 노트북 */
/* 테블릿 */
/* 모바일 */
/* font */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #1D1D1D;
  width: 100%;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc {
  display: block;
}

.d-mb {
  display: none;
}

@media (max-width: 768px) {
  .d-pc {
    display: none;
  }
  .d-mb {
    display: block;
  }
}
button {
  font-family: "Pretendard";
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
}

.goto-btn {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 4rem;
  transition: all 0.25s;
}
.goto-btn::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 0.4rem;
  background: url(../../../assets/images/icon/arrow_goto.png) no-repeat center/contain;
  transition: all 0.25s;
}
.goto-btn:hover {
  color: #fff;
  background: #1A4298;
  transition: all 0.25s;
}
.goto-btn:hover::after {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(150%) contrast(102%);
  transition: all 0.25s;
}

.quick-menu {
  position: fixed;
  display: inline-block;
  right: 2rem;
  bottom: 2rem;
  z-index: 99;
}
.quick-menu .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.quick-menu .inner .counsel-btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  background: url(../../../assets/images/icon/chat.png) no-repeat center/2.4rem #1A4298;
}
.quick-menu .inner .top-btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  background: url(../../../assets/images/icon/arrow_up.png) no-repeat center/2.4rem #fff;
}

.tab-menu {
  width: 100%;
}
.tab-menu .tab-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}
.tab-menu .tab-list li {
  padding: 0.6rem 1.6rem;
  border-radius: 3rem;
  border: 1px solid #F0F0F0;
  background: #fff;
}
.tab-menu .tab-list li.on {
  background: #1A4298;
}
.tab-menu .tab-list li.on a {
  color: #fff;
  font-weight: 700;
}
.tab-menu .tab-list li a {
  width: 100%;
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}
.tab-menu .tab-cont {
  height: 50rem;
}
.tab-menu .tab-cont > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: none;
}
.tab-menu .tab-cont > div.on {
  display: flex;
}
.tab-menu .tab-cont > div.tab-panel01 {
  background: #f0f0f0;
}
.tab-menu .tab-cont > div.tab-panel02 {
  background: #fff2f2;
}
.tab-menu .tab-cont > div.tab-panel03 {
  background: #e2f0f5;
}

/* 노트북 */
/* 테블릿 */
/* 모바일 */
/* font */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #1D1D1D;
  width: 100%;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc {
  display: block;
}

.d-mb {
  display: none;
}

@media (max-width: 768px) {
  .d-pc {
    display: none;
  }
  .d-mb {
    display: block;
  }
}
button {
  font-family: "Pretendard";
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
}

.goto-btn {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 4rem;
  transition: all 0.25s;
}
.goto-btn::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 0.4rem;
  background: url(../../../assets/images/icon/arrow_goto.png) no-repeat center/contain;
  transition: all 0.25s;
}
.goto-btn:hover {
  color: #fff;
  background: #1A4298;
  transition: all 0.25s;
}
.goto-btn:hover::after {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(150%) contrast(102%);
  transition: all 0.25s;
}

.quick-menu {
  position: fixed;
  display: inline-block;
  right: 2rem;
  bottom: 2rem;
  z-index: 99;
}
.quick-menu .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.quick-menu .inner .counsel-btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  background: url(../../../assets/images/icon/chat.png) no-repeat center/2.4rem #1A4298;
}
.quick-menu .inner .top-btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  background: url(../../../assets/images/icon/arrow_up.png) no-repeat center/2.4rem #fff;
}

.tab-menu {
  width: 100%;
}
.tab-menu .tab-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}
.tab-menu .tab-list li {
  padding: 0.6rem 1.6rem;
  border-radius: 3rem;
  border: 1px solid #F0F0F0;
  background: #fff;
}
.tab-menu .tab-list li.on {
  background: #1A4298;
}
.tab-menu .tab-list li.on a {
  color: #fff;
  font-weight: 700;
}
.tab-menu .tab-list li a {
  width: 100%;
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}
.tab-menu .tab-cont {
  height: 50rem;
}
.tab-menu .tab-cont > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: none;
}
.tab-menu .tab-cont > div.on {
  display: flex;
}
.tab-menu .tab-cont > div.tab-panel01 {
  background: #f0f0f0;
}
.tab-menu .tab-cont > div.tab-panel02 {
  background: #fff2f2;
}
.tab-menu .tab-cont > div.tab-panel03 {
  background: #e2f0f5;
}

/* 노트북 */
/* 테블릿 */
/* 모바일 */
#wrapper {
  overflow: hidden;
}
#wrapper #wrap {
  width: 100%;
  margin-top: 6rem;
}
@media (max-width: 420px) {
  #wrapper #wrap {
    margin-top: 5.6rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
  background: #fff;
  z-index: 99;
}
header .inner {
  position: relative;
  width: 100%;
  max-width: 1100px;
  padding: 0 2rem;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 420px) {
  header .inner {
    height: 5.6rem;
  }
}
header .inner .logo-wrap .logo {
  display: inline-block;
  width: 10.8rem;
  height: 3.2rem;
}
header .inner .logo-wrap .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .inner .gnb ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .inner .gnb ul li {
  height: 3.2rem;
  padding: 0 2rem;
}
header .inner .gnb ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 3.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #171719;
}
header .inner > .btn-wrap button {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
}
header .inner > .btn-wrap button.ham-btn {
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../../assets/images/icon/menu.png) no-repeat center/contain;
}
header .inner.mo {
  position: absolute;
  top: 0;
  right: -110vw;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background: #00065C;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5.2rem;
  transition: right 0.5s;
}
header .inner.mo.on {
  right: 0;
  transition: right 0.5s;
}
header .inner.mo .gnb ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
header .inner.mo .gnb ul li {
  height: 4.8rem;
}
header .inner.mo .gnb ul li a {
  font-size: 2.1rem;
  line-height: 4.8rem;
  color: #fff;
}
header .inner.mo > .btn-wrap button.close-btn {
  top: 2.4rem;
  right: 2rem;
  background: url(../../../assets/images/icon/close.png) no-repeat center/contain;
}

footer {
  width: 100%;
  background: #00002A;
}
footer .inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 768px) {
  footer .inner {
    padding: 2rem 2rem 8rem;
  }
}
footer .inner .contact {
  width: 100%;
}
footer .inner .contact ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1000px) {
  footer .inner .contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer .inner .contact ul li {
  width: calc(50% - 0.5rem);
  padding: 0 2rem;
  height: 6.4rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
footer .inner .contact ul li::before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
footer .inner .contact ul li:nth-of-type(1)::before {
  background: url(../../../assets/images/icon/phone.png) no-repeat center/2rem rgba(255, 255, 255, 0.2);
}
footer .inner .contact ul li:nth-of-type(1) p a:first-child::before {
  content: "";
  position: absolute;
  right: -0.7rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1.1rem;
  background: #C6C6C6;
}
footer .inner .contact ul li:nth-of-type(2)::before {
  background: url(../../../assets/images/icon/mail.png) no-repeat center/2rem rgba(255, 255, 255, 0.2);
}
@media (max-width: 1000px) {
  footer .inner .contact ul li {
    width: 100%;
    height: auto;
    padding: 2rem;
  }
}
footer .inner .contact ul li div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1000px) {
  footer .inner .contact ul li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
  }
}
footer .inner .contact ul li div span {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1200px) {
  footer .inner .contact ul li div span {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
footer .inner .contact ul li div p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
footer .inner .contact ul li div p a {
  position: relative;
  font-size: 2.1rem;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1200px) {
  footer .inner .contact ul li div p a {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  footer .inner .contact ul li div p a {
    font-size: 1.5rem;
  }
}
footer .inner .info-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  footer .inner .info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
footer .inner .info-wrap .logo-wrap {
  width: 10.8rem;
  height: 3.2rem;
}
@media (max-width: 1000px) {
  footer .inner .info-wrap .logo-wrap {
    margin-bottom: 4rem;
  }
}
footer .inner .info-wrap .logo-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .inner .info-wrap .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1.6rem;
}
@media (max-width: 1000px) {
  footer .inner .info-wrap .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }
}
footer .inner .info-wrap .info ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 830px) {
  footer .inner .info-wrap .info ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.4rem;
  }
}
footer .inner .info-wrap .info ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
footer .inner .info-wrap .info ul li span {
  position: relative;
  font-size: 1.3rem;
}
footer .inner .info-wrap .info ul li span:nth-of-type(1) {
  color: #fff;
}
footer .inner .info-wrap .info ul li span:nth-of-type(1)::before {
  content: "";
  position: absolute;
  right: -0.7rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1.1rem;
  background: #717171;
}
footer .inner .info-wrap .info ul li span:nth-of-type(2) {
  color: #C6C6C6;
}
footer .inner .info-wrap .info .copyright {
  font-size: 1.3rem;
  color: #C6C6C6;
}

section {
  position: relative;
  width: 100%;
}
section:not(:nth-of-type(1)) {
  padding: 10rem 2rem;
}
section:not(:nth-of-type(1)) > .inner {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
section > .inner {
  position: relative;
}
section > .inner > .title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
  margin-bottom: 8rem;
}
@media (max-width: 768px) {
  section > .inner > .title-wrap {
    margin-bottom: 4rem;
  }
}
section > .inner > .title-wrap strong {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
}
@media (max-width: 768px) {
  section > .inner > .title-wrap strong {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
section > .inner > .title-wrap p {
  font-size: 1.9rem;
  line-height: 2.6rem;
}
@media (max-width: 768px) {
  section > .inner > .title-wrap p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
section.sec01 > .inner > .title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 2rem;
  max-width: 1100px;
  margin: 0 auto;
  gap: 2rem;
  z-index: 10;
}
@media (max-width: 768px) {
  section.sec01 > .inner > .title-wrap {
    gap: 1.2rem;
  }
}
section.sec01 > .inner > .title-wrap strong {
  color: #fff;
}
section.sec01 > .inner > .title-wrap p {
  color: #fff;
  padding-bottom: 1.2rem;
}
@media (max-width: 768px) {
  section.sec01 > .inner > .title-wrap p {
    padding-bottom: 2rem;
  }
}
section.sec01 > .inner #KVSlide {
  width: 100%;
  height: 68rem;
}
@media (max-width: 768px) {
  section.sec01 > .inner #KVSlide {
    height: 54.4rem;
  }
}
section.sec01 > .inner #KVSlide .swiper-slide > div {
  width: 100%;
  height: 100%;
}
section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img01 {
  background: url(../../assets/images/main/kv-img01.png) no-repeat center/cover;
}
@media (max-width: 420px) {
  section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img01 {
    background: url(../../assets/images/mo/main/kv-img01.png) no-repeat center/cover;
  }
}
section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img02 {
  background: url(../../assets/images/main/kv-img02.png) no-repeat center/cover;
}
@media (max-width: 420px) {
  section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img02 {
    background: url(../../assets/images/mo/main/kv-img02.png) no-repeat center/cover;
  }
}
section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img03 {
  background: url(../../assets/images/main/kv-img03.png) no-repeat center/cover;
}
@media (max-width: 420px) {
  section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img03 {
    background: url(../../assets/images/mo/main/kv-img03.png) no-repeat center/cover;
  }
}
section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img04 {
  background: url(../../assets/images/main/kv-img04.png) no-repeat center/cover;
}
@media (max-width: 420px) {
  section.sec01 > .inner #KVSlide .swiper-slide > div.kv-img04 {
    background: url(../../assets/images/mo/main/kv-img04.png) no-repeat center/cover;
  }
}
section.sec02 {
  background: #F8F8F8;
}
@media (max-width: 768px) {
  section.sec02 {
    padding: 10rem 0;
  }
}
@media (max-width: 768px) {
  section.sec02 > .inner .title-wrap {
    padding: 0 2rem;
  }
}
section.sec02 > .inner .check-list {
  width: 100%;
  height: 31rem;
}
@media (max-width: 768px) {
  section.sec02 > .inner .check-list {
    padding-left: 2rem;
    height: 40.7rem;
  }
}
section.sec02 > .inner .check-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
}
@media (max-width: 768px) {
  section.sec02 > .inner .check-list ul {
    padding-right: 2rem;
    gap: 1rem;
    overflow-x: auto;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  section.sec02 > .inner .check-list ul::-webkit-scrollbar {
    display: none;
  }
}
section.sec02 > .inner .check-list ul > .menu {
  width: calc(33.3333333333% - 1.1rem);
  height: 100%;
  flex-shrink: 0;
  padding: 2rem;
  border-radius: 0.4rem;
  border: 1px solid #E4E4E4;
}
@media (max-width: 768px) {
  section.sec02 > .inner .check-list ul > .menu {
    width: 24.7rem;
  }
}
section.sec02 > .inner .check-list ul > .menu:nth-of-type(1) {
  background: url(../../assets/images/main/check_item01.png) no-repeat right 2rem bottom 2rem/10rem #fff;
}
section.sec02 > .inner .check-list ul > .menu:nth-of-type(2) {
  background: url(../../assets/images/main/check_item02.png) no-repeat right 2rem bottom 2rem/10rem #fff;
}
section.sec02 > .inner .check-list ul > .menu:nth-of-type(3) {
  background: url(../../assets/images/main/check_item03.png) no-repeat right 2rem bottom 2rem/10rem #fff;
}
section.sec02 > .inner .check-list ul > .menu .num {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  margin-bottom: 0.6rem;
}
section.sec02 > .inner .check-list ul > .menu .num span:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 700;
  color: #807146;
}
section.sec02 > .inner .check-list ul > .menu .num span:nth-of-type(2) {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #807146;
}
section.sec02 > .inner .check-list ul > .menu p:nth-of-type(1) {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  section.sec02 > .inner .check-list ul > .menu p:nth-of-type(1) {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
}
section.sec02 > .inner .check-list ul > .menu p:nth-of-type(2) {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #555;
}
section.sec03 > .inner > .list-wrap ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6rem;
}
section.sec03 > .inner > .list-wrap ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  section.sec03 > .inner > .list-wrap ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
section.sec03 > .inner > .list-wrap ul li:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  section.sec03 > .inner > .list-wrap ul li:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
section.sec03 > .inner > .list-wrap ul li > div {
  width: 50%;
  height: 30rem;
}
@media (max-width: 768px) {
  section.sec03 > .inner > .list-wrap ul li > div {
    width: 100%;
    height: auto;
  }
  section.sec03 > .inner > .list-wrap ul li > div.img-wrap {
    height: 30rem;
    border-radius: 4px;
    overflow: hidden;
  }
}
@media (max-width: 420px) {
  section.sec03 > .inner > .list-wrap ul li > div.img-wrap {
    height: 20rem;
  }
}
section.sec03 > .inner > .list-wrap ul li > div.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.sec03 > .inner > .list-wrap ul li > div.txt-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  section.sec03 > .inner > .list-wrap ul li > div.txt-wrap {
    margin-bottom: 2.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
section.sec03 > .inner > .list-wrap ul li > div.txt-wrap .inner .num {
  display: inline-block;
  margin-bottom: 1.6rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: #BCAD82;
}
section.sec03 > .inner > .list-wrap ul li > div.txt-wrap .inner .sub-tit {
  font-size: 1.3rem;
  font-weight: 700;
  color: #807146;
  line-height: 1.8rem;
  margin-bottom: 0.6rem;
}
section.sec03 > .inner > .list-wrap ul li > div.txt-wrap .inner .tit {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.2rem;
  margin-bottom: 1.6rem;
}
@media (max-width: 768px) {
  section.sec03 > .inner > .list-wrap ul li > div.txt-wrap .inner .tit {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}
section.sec03 > .inner > .list-wrap ul li > div.txt-wrap .inner .explain {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #555;
}
section.sec04 {
  background: #F8F8F8;
}
section.sec04 > .inner > .list-wrap ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}
@media (max-width: 930px) {
  section.sec04 > .inner > .list-wrap ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 420px) {
  section.sec04 > .inner > .list-wrap ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3.2rem;
  }
}
section.sec04 > .inner > .list-wrap ul li {
  width: calc(25% - 1.2rem);
}
@media (max-width: 930px) {
  section.sec04 > .inner > .list-wrap ul li {
    width: calc(50% - 0.8rem);
  }
}
@media (max-width: 420px) {
  section.sec04 > .inner > .list-wrap ul li {
    width: 100%;
  }
}
section.sec04 > .inner > .list-wrap ul li a {
  display: inline-block;
  width: 100%;
}
section.sec04 > .inner > .list-wrap ul li a .img-wrap {
  width: 100%;
  height: 25.3rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 420px) {
  section.sec04 > .inner > .list-wrap ul li a .img-wrap {
    height: 33.5rem;
  }
}
section.sec04 > .inner > .list-wrap ul li a .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.sec04 > .inner > .list-wrap ul li a p {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section.sec04 > .inner > .list-wrap ul li a span {
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #8E8E8E;
}
section.sec04 > .inner > .btn-wrap {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.sec04 > .inner > .btn-wrap .goto-btn {
  padding: 1.4rem 4rem;
  border: 1px solid #E4E4E4;
}

.main-banner {
  width: 100%;
  height: 10rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../../assets/images/main/main_banner_bg.png) no-repeat center/cover;
}
@media (max-width: 768px) {
  .main-banner {
    background: url(../../assets/images/mo/main/main_banner_bg.png) no-repeat center/cover;
  }
}
@media (max-width: 420px) {
  .main-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.main-banner p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 768px) {
  .main-banner p {
    text-align: center;
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 420px) {
  .main-banner p {
    text-align: left;
  }
}