@import "./common/_common";
@import "./common/_layout";

// 회사소개
.company {
    #wrap {
        padding: 10rem 0 20rem;
        @include tablet {
            padding: 0 0 10rem;
        }
        section {
            position: relative;
            width: 100%;
            padding: 0 2rem;
            > .inner {
                position: relative;
                width: 100%;
                max-width: 1060px;
                margin: 0 auto;
                > .title-wrap {
                    @include flexbox(column, flex-start, flex-start);
                    gap: 0.8rem;
                    margin-bottom: 4rem;
                    strong {
                        font-size: 3.2rem;
                        font-weight: 700;
                        line-height: 4.2rem;
                        @include tablet {
                            font-size: 2.5rem;
                            line-height: 3.2rem;
                        }
                    }
                    p {
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                    }
                }
            }
            &.sec01 {
                padding-bottom: 10rem;
                @include tablet {
                    padding: 0 0 6rem;
                }
                > .inner {
                    height: 26.2rem;
                    border-radius: 1rem;
                    background: url(../../assets/images/sub/company_bg.png) no-repeat center/cover;
                    @include flexbox(row, center, center);
                    gap: 9.2rem;
                    @include tablet {
                        height: 49.8rem;
                        border-radius: 0;
                        @include flexbox(column, center, center);
                        gap: 5.5rem;
                    }
                    .title {
                        @include flexbox(column, center, center);
                        gap: 1.2rem;
                        p {
                            font-size: 1.9rem;
                            // font-size: clamp(1.5rem, 0.990vw, 1.9rem);
                            font-weight: 700;
                            line-height: 2.6rem;
                            color: $brown;
                            @include tablet {
                                font-size: 1.5rem;
                                line-height: 2.2rem;
                            }
                        }
                        strong {
                            font-size: 4rem;
                            // font-size: clamp(3.2rem, 2.083vw, 4rem);
                            font-weight: 700;
                            line-height: 5.2rem;
                            @include tablet {
                                text-align: center;
                                font-size: 3.2rem;
                                line-height: 4.2rem;
                            }
                        }
                    }
                }
            }
            &.sec02 {
                @media (max-width: 1000px) {
                    padding: 0;
                }
                > .inner {
                    position: relative;
                    .title-wrap {
                        @media (max-width: 1000px) {
                            padding: 0 2rem;
                        }
                    }
                    .list-wrap {
                        @media (max-width: 1000px) {
                            padding-left: 2rem;
                        }
                        ul {
                            width: 100%;
                            @include flexbox(row, flex-start, flex-start);
                            gap: 1.6rem;
                            @media (max-width: 1000px) {
                                padding-right: 2rem;
                                overflow-x: auto;
                                &::-webkit-scrollbar {
                                    display: none;
                                }
                                -ms-overflow-style: none; /* 인터넷 익스플로러 */
                                scrollbar-width: none; /* 파이어폭스 */
                            }
                            li {
                                width: calc(25% - 1.2rem);
                                min-height: 38.5rem;
                                height: 100%;
                                flex-shrink: 0;
                                border: 1px solid $gray02;
                                border-radius: 4px;
                                background: $white;
                                @media (max-width: 1000px) {
                                    width: 25.3rem;
                                }
                                .img-wrap {
                                    position: relative;
                                    width: 100%;
                                    height: 19.2rem;
                                    background: url(../../assets/images/sub/compay_list_bg.png) no-repeat center/cover;
                                    img {
                                        position: absolute;
                                        left: 50%;
                                        bottom: 1.7rem;
                                        transform: translateX(-50%);
                                    }
                                }
                                .info-wrap {
                                    padding: 2rem;
                                    @include flexbox(column, flex-start, flex-start);
                                    gap: 1.4rem;
                                    strong {
                                        font-size: 2.1rem;
                                        font-size: clamp(1.8rem, 1.094vw, 2.1rem);
                                        font-weight: 700;
                                        line-height: 2.8rem;
                                        line-height: clamp(2.1rem, 1.458vw,2.8rem);
                                        @media (max-width: 1000px) {
                                            font-size: 2.1rem;
                                            line-height: 2.8rem;
                                        }
                                    }
                                    p {
                                        font-size: 1.3rem;
                                        line-height: 1.8rem;
                                        color: $gray07;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// KCC 제품
.product {
    #wrap {
        padding: 10rem 0 20rem;
        @include tablet {
            padding: 4rem 0 10rem;
        }
        .main-title {
            padding: 0 2rem 10rem;
            @include tablet {
                padding: 0 2rem 4rem;
            }
        }
        section {
            position: relative;
            width: 100%;
            padding: 0 2rem;
            @include tablet {
                padding: 0;
            }
            > .inner {
                > .title {
                    width: 100%;
                    @media (max-width: 1000px) {
                        padding: 0 2rem;
                    }
                    strong {
                        font-size: 3.2rem;
                        line-height: 4.2rem;
                        font-weight: 700;
                        @include tablet {
                            font-size: 2.5rem;
                            line-height: 3.2rem;
                        }
                    }
                }
                .tab-cont {
                    > div {
                        border: 1px solid $gray02;
                        .img-wrap {
                            width: 60.38%;
                            border-right: 1px solid $gray02;
                            @include flexbox(row, center, center);
                            img {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                        .info-wrap {
                            width: 39.62%;
                            .top {
                                padding: 1.75rem 1.6rem;
                                border-bottom: 1px solid $gray02;
                                @include flexbox(row, space-between, center);
                                strong {
                                    font-size: 2.1rem;
                                    font-weight: 700;
                                    line-height: 2.8rem;
                                    @include tablet {
                                        font-size: 1.9rem;
                                        line-height: 2.6rem;
                                    }
                                }
                                button {
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    border-radius: 50%;
                                    background: url(../../assets/images/icon/arrow_default.png) no-repeat center/contain $gray01;
                                    transition: all 0.25s;
                                    &.on {
                                        transform: rotate(180deg);
                                        transition: all 0.25s;
                                    }
                                }
                            }
                            .info {
                                padding: 2rem 1.6rem;
                                > div {
                                    &:not(:last-of-type) {
                                        margin-bottom: 2rem;
                                    }
                                    span {
                                        font-size: 1.5rem;
                                        font-weight: 700;
                                        line-height: 2.2rem;
                                    }
                                    ul {
                                        padding-top: 0.8rem;
                                        li {
                                            // list-style: disc;
                                            width: calc(100% - 1.1rem);
                                            position: relative;
                                            list-style-position: inside;
                                            font-size: 1.3rem;
                                            line-height: 1.8rem;
                                            color: $gray07;
                                            @include flexbox(row, flex-start, flex-start);
                                            p {
                                                width: calc(100% - 1.1rem);
                                                word-break: keep-all;
                                            }
                                            &::before {
                                                display: inline-block;
                                                content: '';
                                                margin-top: 0.6rem;
                                                margin-right: 0.8rem;
                                                width: 0.3rem;
                                                height: 0.3rem;
                                                border-radius: 50%;
                                                background: $gray07;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:not(.sec01) {
                padding-top: 10rem;
                > .inner {
                    width: 100%;
                    max-width: 1100px;
                    margin: 0 auto;
                    > .title {
                        margin-bottom: 2.8rem;
                    }
                    @include tablet {
                        .tab-menu {
                            .tab-list {
                                padding: 0 2rem;
                                overflow-x: auto;
                                &::-webkit-scrollbar {
                                    display: none;
                                }
                                -ms-overflow-style: none; /* 인터넷 익스플로러 */
                                scrollbar-width: none; /* 파이어폭스 */
                                li {
                                    a {
                                        white-space: nowrap;
                                    }
                                }
                            }
                            .tab-cont {
                                padding: 0 2rem;
                                > div {
                                    flex-direction: column;
                                    .img-wrap {
                                        width: 100%;
                                        border-right: 0;
                                    }
                                    .info-wrap {
                                        width: 100%;
                                        .top {
                                            border-top: 1px solid $gray02;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.sec01 {
                background: $gray05;
                padding: 10rem 2rem;
                @media (max-width: 1000px) {
                    padding: 4rem 0 7.4rem;
                }
                > .inner {
                    width: 100%;
                    max-width: 1100px;
                    margin: 0 auto;
                    @media (max-width: 1000px) {
                        max-width: 100%;
                    }
                    > .title {
                        padding-bottom: 4rem;
                    }
                    .list-wrap {
                        width: 100%;
                        max-width: 1100px;
                        margin: 0 auto;
                        @media (max-width: 1000px) {
                            max-width: 100%;
                            padding-left: 2rem;
                        }
                        ul {
                            width: 100%;
                            @include flexbox(row, flex-start, stretch);
                            gap: 1.6rem;
                            @media (max-width: 1000px) {
                                padding-right: 2rem;
                                overflow-x: auto;
                                &::-webkit-scrollbar {
                                    display: none;
                                }
                                -ms-overflow-style: none; /* 인터넷 익스플로러 */
                                scrollbar-width: none; /* 파이어폭스 */
                            }
                            li {
                                width: calc(20% - 0.8rem);
                                padding: 4rem 2rem;
                                border-radius: 0.4rem;
                                border: 1px solid $gray02;
                                background: $white;
                                @include flexbox(column, flex-start, center);
                                @media (max-width: 1000px) {
                                    width: 24.7rem;
                                    min-width: 24.7rem;
                                }
                                .img-wrap {
                                    width: 8rem;
                                    height: 8rem;
                                    margin-bottom: 3.2rem;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                    }
                                }
                                p {
                                    &:nth-of-type(1) {
                                        @include flexbox(row, center, center);
                                        gap: 0.4rem;
                                        margin-bottom: 1.6rem;
                                        span {
                                            &:nth-of-type(1) {
                                                font-size: 1.5rem;
                                                font-weight: 700;
                                                line-height: 2.2rem;
                                                color: $brown;
                                            }
                                            &:nth-of-type(2) {
                                                display: inline-block;
                                                width: 1.6rem;
                                                height: 1.6rem;
                                                line-height: 1.6rem;
                                                text-align: center;
                                                border-radius: 50%;
                                                font-size: 1.5rem;
                                                font-weight: 700;
                                                color: $white;
                                                background: $brown;
                                            }
                                        }
                                    }
                                }
                                strong {
                                    font-size: 2.1rem;
                                    font-weight: 700;
                                    line-height: 2.8rem;
                                }
                                p {
                                    &:nth-of-type(2) {
                                        text-align: center;
                                        margin-top: 2rem;
                                        font-size: 1.5rem;
                                        line-height: 2.2rem;
                                        color: $gray07;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.sec02 {
                @include tablet {
                    padding-top: 5rem;
                }
            }
        }
    }
}

// 시공사례
.review {
    #wrap {
        padding: 10rem 0 20rem;
        @include tablet {
            padding: 4rem 0 10rem;
        }
        .main-title {
            padding: 0 2rem 6rem;
            @include tablet {
                padding: 0 2rem 4rem;
            }
        }
        section {
            position: relative;
            width: 100%;
            > .inner {
                width: 100%;
                max-width: 1100px;
                padding: 0 2rem;
                margin: 0 auto;
                .tab-list {
                    @include tablet {
                        margin-bottom: 5rem;
                    }
                    li {
                        .total {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            display: none;
                            font-size: 1.7rem;
                            line-height: 2.4rem;
                            color: $gray07;
                            @include tablet {
                                right: auto;
                                left: 0;
                                top: auto;
                                bottom: -3.5rem;
                                transform: translateY(0);
                                font-size: 1.3rem;
                                line-height: 1.8rem;
                            }
                            > span {
                                font-size: 1.9rem;
                                font-weight: 700;
                                line-height: 2.6rem;
                                color: $blue;
                                @include tablet {
                                    font-size: 1.5rem;
                                    line-height: 2.2rem;
                                }
                            }
                        }
                        &.on {
                            .total {
                                display: block;
                                // @include flexbox (row, center, center);
                            }
                        }
                    }
                }
                .list-wrap {
                    width: 100%;
                    height: 100%;
                    ul {
                        width: 100%;
                        height: 100%;
                        @include flexbox(row, flex-start, flex-start);
                        flex-wrap: wrap;
                        gap: 2.8rem 1.6rem;
                        @include tablet {
                            gap: 2rem 1rem;
                        }
                        li {
                            width: calc(25% - 1.2rem);
                            @include tablet_junction {
                                width: calc(100% / 3 - 1.1rem);
                            }
                            @include tablet {
                                width: calc(50% - 0.5rem);
                            }
                            a {
                                display: inline-block;
                                width: 100%;
                                .img-wrap {
                                    width: 100%;
                                    aspect-ratio: 1;
                                    // height: 25.3rem;
                                    margin-bottom: 1.2rem;
                                    border-radius: 4px;
                                    @include tablet {
                                        margin-bottom: 0.8rem;
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .txt-wrap {
                                    p {
                                        font-size: 1.7rem;
                                        font-weight: 700;
                                        line-height: 2.4rem;
                                        color: $gray07;
                                        @include ellipsis(1);
                                        @include tablet {
                                            font-size: 1.5rem;
                                            line-height: 2.2rem;
                                        }
                                    }
                                    span {
                                        font-size: 1.7rem;
                                        line-height: 2.4rem;
                                        color:  $gray50;
                                        @include tablet {
                                            font-size: 1.3rem;
                                            line-height: 1.8rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//시공사례 상세페이지
.review-detail {
    #wrap {
        padding: 10rem 0 20rem;
        @include tablet {
            padding: 4rem 0 10rem;
        }
        section {
            position: relative;
            width: 100%;
            > .inner {
                width: 100%;
                max-width: 1100px;
                padding: 0 2rem;
                margin: 0 auto;
                .review-title {
                    width: 100%;
                    @include flexbox (row, space-between, center);
                    gap: 4rem;
                    padding-bottom: 6rem;
                    border-bottom: 1px solid $gray02;
                    @include tablet_junction {
                        gap: 2rem;
                        // padding-bottom: 4rem;
                    }
                    @include tablet {
                        @include flexbox(column, center, flex-start);
                        gap: 0.8rem;
                        padding-bottom: 2rem;
                    }
                    strong {
                        font-size: 4rem;
                        // font-size: clamp(2.5rem, 2.083vw, 4rem);
                        font-weight: 700;
                        line-height: 5.2rem;
                        @include tablet_junction {
                            font-size: 3rem;
                            line-height: 4.2rem;
                        }
                        @include tablet {
                            font-size: 2.5rem;
                            line-height: 3.2rem;
                        }
                    }
                    span {
                        font-size: 1.7rem;
                        font-weight: 2.4rem;
                        color: $gray50;
                        @include tablet {
                            font-size: 1.3rem;
                            line-height: 1.8rem;
                        }
                    }
                }
                .review-cont {
                    width: 100%;
                    max-width: 96rem;
                    margin: 0 auto;
                    padding: 6rem 0;
                    @include flexbox(column, flex-start, center);
                    gap: 6rem;
                    @include tablet {
                        padding: 4rem 0;
                        gap: 4rem;
                    }
                    @media (max-width:655px) {
                        align-items: flex-start;
                    }
                    .img-wrap {
                        width: 100%;
                        aspect-ratio: 8/5;
                        &.type01 {
                            max-width: 60rem;
                            aspect-ratio: 3/4;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    p {
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                    }
                }
                .btn-wrap {
                    padding-top: 6rem;
                    border-top: 1px solid $gray02;
                    @include flexbox(row, center, center);
                    @include tablet {
                        padding-top: 4rem;
                    }
                    a {
                        width: 21.3rem;
                        border: 1px solid $gray02;
                    }
                }
            }
        }
    }
}

// 상담하기
.contact {
    #wrap {
        padding: 10rem 0 20rem;
        @include tablet_junction {
            padding: 0 0 10rem;
        }
        section {
            position: relative;
            width: 100%;
            > .inner {
                width: 100%;
                max-width: 1100px;
                padding: 0 2rem;
                margin: 0 auto;
                @include flexbox(row, center, stretch);
                // gap: 10rem;
                gap: 5.208vw;
                @include tablet_junction {
                    padding: 0;
                    @include flexbox(column, center, center);
                    gap: 4rem;
                }
                .visual {
                    width: 37.5rem;
                    height: 60.5rem;
                    border-radius: 4px;
                    background: url(../../assets/images/sub/contact_visual.png) no-repeat center/cover;
                    @include tablet_junction {
                        width: 100%;
                        height: 49.8rem;
                        border-radius: 0;
                        background: url(../../assets/images/sub/mo/contact_visual.png) no-repeat center/cover;
                    }
                    strong {
                        display: inline-block;
                        padding-top: 11rem;
                        padding-left: 2rem;
                        font-size: 4rem;
                        font-weight: 700;
                        line-height: 5.2rem;
                        color: $white;
                        @include tablet_junction {
                            padding-top: 9rem;
                            font-size: 3.2rem;
                            line-height: 4.2rem;
                        }
                    }
                    p {
                        padding-top: 1.2rem;
                        padding-left: 2rem;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        color: $white;
                    }
                }
                .input-cont {
                    width: calc(100% - 47.5rem);
                    @include flexbox(column, space-between, flex-start);
                    @include tablet_junction {
                        width: 100%;
                        padding: 0 2rem;
                        gap: 2rem;
                    }
                    .input-wrap {
                        width: 100%;
                        @include flexbox(column, flex-start, flex-start);
                        gap: 0.6rem;
                        label {
                            font-size: 1.5rem;
                            font-weight: 700;
                            line-height: 2.2rem;
                            span {
                                font-size: 1.3rem;
                                font-weight: 400;
                                line-height: 1.8rem;
                                margin-left: 0.6rem;
                            }
                        }
                        p {
                            font-size: 1.3rem;
                            line-height: 1.8rem;
                            color:  $red;
                            display: none;
                        }
                        &.error {
                            input {
                                border: 1px solid $red;
                            }
                            p {
                                display: block;
                            }
                        }
                    }
                    .btn-wrap {
                        width: 100%;
                        @include flexbox(row, center, center);
                        @include tablet_junction {
                            padding-top: 2rem;
                        }
                        button {
                            padding: 0 4rem;
                            height: 5.2rem;
                            border-radius: 4rem;
                            font-size: 1.5rem;
                            font-weight: 700;
                            line-height: 2.2rem;
                            color: $white;
                            background: $blue;
                            &:disabled {
                                background: $gray03;
                            }
                        }
                    }
                }
            }
        }
    }
}