@import "common";
@import "responsive";

#wrapper {
    overflow: hidden;
    #wrap {
        width: 100%;
        margin-top: 6rem;
        @include mobile {
            margin-top: 5.6rem;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 99;
    .inner {
        position: relative;
        width: 100%;
        max-width: 1060px;
        padding: 0 2rem;
        height: 6rem;
        margin: 0 auto;
        @include flexbox(row, space-between, center);
        @include mobile {
            height: 5.6rem;
        }
        .logo-wrap {
            .logo {
                display: inline-block;
                width: 10.8rem;
                height: 3.2rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .gnb {
            ul {
                @include flexbox(row, center, center);
                gap: 2rem;
                li {
                    height: 3.2rem;
                    padding: 0 2rem;
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        line-height: 3.2rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #171719;
                    }
                }
            }
        }
        > .btn-wrap {
            button {
                position: absolute;
                width: 2.4rem;
                height: 2.4rem;
                &.ham-btn {
                    right: 1.6rem;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url(../../../assets/images/icon/menu.png) no-repeat center/contain;
                }
            }
        }
    }
    .inner.mo {
        position: absolute;
        top: 0;
        right: -110vw;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        background: $blue02;
        z-index: 999;
        @include flexbox(column, flex-start, flex-start);
        gap: 5.2rem;
        transition: right 0.5s;
        &.on {
            right: 0;
            transition: right 0.5s;
        }
        .gnb {
            ul {
                @include flexbox(column, flex-start, flex-start);
                li {
                    height: 4.8rem;
                    a {
                        font-size: 2.1rem;
                        line-height: 4.8rem;
                        color: $white;
                    }
                }
            }
        }
        > .btn-wrap {
            button {
                &.close-btn {
                    top: 2.4rem;
                    right: 2rem;
                    background: url(../../../assets/images/icon/close.png) no-repeat center/contain;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background: $navy;
    .inner {
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        padding: 4rem 2rem 8rem;
        @include flexbox(column, center, center);
        gap: 4rem;
        @include tablet {
            padding: 2rem 2rem 8rem;
        }
        .contact {
            width: 100%;
            ul {
                width: 100%;
                @include flexbox(row, center, center);
                gap: 1rem;
                // @include tablet {
                //     @include flexbox(column, center, center);
                // }
                @media (max-width: 1000px) {
                    @include flexbox(column, center, center);
                }
                li {
                    width: calc(50% - 0.5rem);
                    padding: 0 2rem;
                    height: 6.4rem;
                    border-radius: 1rem;
                    background: rgba(255, 255, 255, 0.10);
                    @include flexbox(row, flex-start, center);
                    gap: 1rem;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                    }
                    &:nth-of-type(1) {
                        &::before {
                            background: url(../../../assets/images/icon/phone.png) no-repeat center/2rem rgba(255, 255, 255, 0.20);
                        }
                        p {
                            a {
                                &:first-child {
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        right: -0.7rem;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 1px;
                                        height: 1.1rem;
                                        background: $gray04;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        &::before {
                            background: url(../../../assets/images/icon/mail.png) no-repeat center/2rem rgba(255, 255, 255, 0.20);
                        }
                    }
                    @media (max-width: 1000px) {
                        width: 100%;
                        height: auto;
                        padding: 2rem;
                    }
                    div {
                        @include flexbox(row, center, center);
                        gap: 2rem;
                        @media (max-width: 1000px) {
                            @include flexbox(column, center, flex-start);
                            gap: 0.4rem;
                        }
                        span {
                            position: relative;
                            color: rgba(255, 255, 255, 0.50);
                            font-size: 1.5rem;
                            font-weight: 700;
                            @include flexbox(row, center, center);
                            gap: 1rem;
                            @media (max-width: 1200px) {
                                font-size: 1.3rem;
                                line-height: 1.8rem;
                            }
                        }
                        p {
                            @include flexbox(row, center, center);
                            gap: 1.3rem;
                            a {
                                position: relative;
                                font-size: 2.1rem;
                                font-weight: 700;
                                color: $white;
                                @media (max-width: 1200px) {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .info-wrap {
            width: 100%;
            @include flexbox(row, space-between, flex-start);
            // @include tablet {
            //     @include flexbox(column, center, flex-start);
            // }
            @media (max-width: 1000px) {
                @include flexbox(column, center, flex-start);
            }
            .logo-wrap {
                width: 10.8rem;
                height: 3.2rem;
                @media (max-width: 1000px) {
                    margin-bottom: 4rem;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .info {
                @include flexbox(column, center ,flex-end);
                gap: 1.6rem;
                @media (max-width: 1000px) {
                    @include flexbox(column, center, flex-start);
                    gap: 4rem;
                }
                ul {
                    @include flexbox(row, center, center);
                    gap: 2rem;
                    @media (max-width: 830px) {
                        @include flexbox(column, flex-start, flex-start);
                        gap: 1.4rem;
                    }
                    li {
                        @include flexbox(row, center, center);
                        gap: 1.3rem;
                        span {
                            position: relative;
                            font-size: 1.3rem;
                            &:nth-of-type(1) {
                                color: $white;
                                &::before {
                                    content: '';
                                    position: absolute;
                                    right: -0.7rem;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 1px;
                                    height: 1.1rem;
                                    background: $gray06;
                                }
                            }
                            &:nth-of-type(2) {
                                color: $gray04;
                            }
                        }
                    }
                }
                .copyright {
                    font-size: 1.3rem;
                    color: $gray04;
                }
            }
        }
    }
}